ul li{
    list-style-type: none;
    display: inline;
   
    
}


ul{
    background-color: blue;
    position: fixed;
    width: 100%;
    top: -15px;
    text-align: center;   
    padding: 10px; 
}

ul li a{
    margin: auto;
    text-decoration: none;
    background-color: orange;
    font-size: 35px;
    margin-right: 10%;

}
 

li a:visited{
    color: blueviolet;
    background-color: brown;
    margin: 10px;
}

li a:hover{
    color: aquamarine;
    background: orange;
    padding: 5px;
    border: 5px solid red;
    border-radius: 20px;
}
 
li a:active{
    color: purple;
    background-color: aqua;
    border: 10px solid;
    border-radius: 30px;
}
h3{
    font-size: 50px;
    color: orange;
    border: 5px solid;
    border-radius: 10px 0px 10px 1px;
    border-width: 10px;
    border-right-color: black;
    border-top-color: orange;
    border-bottom-color: brown;
    border-left-color: aqua; 
    border-radius: 30px;
    padding: 60px;
    margin:  100px;
    outline-color:red;
    outline-offset: 10px;
    outline:10px solid black;
    outline-style: dashed;
    background-color: darkblue;
    text-align: center;
}

.bi-apple{
    color: brown;
    border: 2px solid;
    border-width: 10px;
}
h3{

    cursor: pointer;
    
}
.sit{
    /* margin-left:550px; */
    margin-top: -300px;
    width: 230px;
    border: 2px solid rebeccapurple ;
    padding: 20px;
    font-size: large;
    float: right;
    margin-right: 50px;
    border-radius: 20px;
}
.lorem{
    margin-left:50px;
    width: 190px;
    border: 2px solid red;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;

}
.amet{
    width: 250px;
    margin-left: 650px;
    margin-top: -260px;
    padding: 15px;
    font-size: 20px;
    border: 2px solid green;
    border-radius: 20px;
}